.modal {
  z-index: 1201 !important;
  &-content {
    border-radius: 20px;
  }

  &-body {
    padding: 30px 40px;
  }
}

.dialog {
  text-align: center;

  &-content {
    font-size: 16px;
    color: #272727;
    padding: 22px 0;
  }

  &-actions {
    button {
      margin: 0 10px;
      font-size: 14px;
      font-weight: normal;
      min-width: 110px;
    }
  }
}
